input:not([type=checkbox]):not([type=radio]) {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

input:focus,
div:focus {
    outline: 0;
}

input::-moz-placeholder {
    color: #999;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}

input::-ms-expand {
    background-color: transparent;
    border: 0;
}

input[disabled],
input[readonly],
fieldset[disabled] input {
    background-color: #eee;
    opacity: 1;
}

input[disabled],
fieldset[disabled] input {
    cursor: not-allowed;
}

textarea {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: none;
}
