<div class="flex-row">
    <div class="grow"></div>
    <div>
        <h2>Welcome to life logger</h2>
    </div>
    <div class="grow"></div>
</div>
<div class="flex-row">
    <div class="grow"></div>
    <div class="flex-row">
        <input type="search" name="search" bind-property="searchText" placeholder="Enter search text...">
        <button class="icon"><i class="material-icons">search</i></button>
        <button class="" click-handle=addNote>Add note</button>
    </div>
    <div class="grow"></div>
</div>
<div bind-components="noteComponents"></div>
